<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>EVERbright School Course Admission system</title>
	
	<link rel="icon" href="../../static/images/favicon.ico">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<!-- Bootstrap CSS -->
	
	<!-- other CSS file -->
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div th:fragment="header" id="header">
		<div class = "nav">
			<table>
				<tr>
					<td><a href="#home"><img th:src="@{/images/logo2.svg}"></a></td>
					<td><a href="#news"></a></td>
					<td><a href="#contact"></a></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div th:fragment="sidebar" id="sidebar">
		<div class="sidenav">
				<div class="hidden-block"></div>
				<div><!--th:if="${user has not logged in}"-->
					<div class="login-form" style="text-align: center">
						<form>
							<input type= "text" class = "form-control form-control-sm" placeholder = "username">
							<input type = "text" class = "form-control form-control-sm" placeholder = "password">
							<button type = "submit" class = "btn btn-primary">Login</button>
						</form>
					</div>
				</div>
				<div><!--th:if="${user is student}"-->
					<a th:href="@{/student/findMyCourses}">My Courses</a>
					<a th:href="@{/student/selectStudentForReg}">Enroll a Class</a>
					<a href="#">CGPA Calculator</a>
				</div>
				<div><!--th:if="${user is lecturer}"-->
					<a href="#">View My Courses</a>
					<a href="#">Grade Course</a>
					<a href="#">View Student Performance</a>
				</div>
				<div><!--th:if="${user is admin}"-->
					<a href="#">Manage Students</a>
					<a th:href="@{/admin/manage-lecturers}">Manage Lecturers</a>
					<a href="#">Manage Courses</a>
				</div>
				<div>
					<a href="#">Logout</a>
				</div>
		</div>
	</div>
	
	<div th:fragment="footer" id="footer">
	Employee List Again
	</div>
</body>
</html>