<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Course Assignment System</title>

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" th:href="@{/css/styles.css}">	
	
</head>

<body>
	<div th:insert="fragments/layout.html:: header"></div>
	<div th:insert="fragments/layout.html:: sidebar"></div>
	
	<div class="container inside">
		<h1>View My Courses</h1>
		
		<form action="#" th:action="@{/lecturer/search-courses}" method="POST">			
				<table>
					<tr>
						<td style="width: 85%"><input type ="text" name="name" placeholder = "Search your courses" class="form-control"></td>
						<td style="padding-left: 3%"><button type="submit" class="btn btn-info">Search</button></td>
					</tr>
				</table>		
			</form>
		</div>
				
	</div>
</body>
</html>