<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Application Processing System</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:insert="fragments/layout.html:: header"></div>
	<div th:insert="fragments/layout.html:: sidebar"></div>

	<div class="container inside">
		<p>Select student for testing purposes</p>
		<form action="#" th:action="@{/student/myCourses}" method="post">
			<div class="row">
				<div class="col">
					<select class="custom-select" name="id">
						<option th:each="student : ${studentList}"
							th:text="${student.firstName} + ' ' + ${student.lastName}"
							th:value="${student.id}"></option>
					</select>
				</div>
				<div class="col-6">
					<button type="submit" class="btn btn-info">Search</button>
				</div>
			</div>
		</form>

		<div th:if="${selectedStudent != NULL}">
			<br>
			<h1>My Courses</h1>
			<p th:text="'Showing courses for ' + ${selectedStudent.firstName} + ' ' + ${selectedStudent.lastName}"></p>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Course Name</th>
						<th>Status</th>
						<th>Grade</th>
						<!-- <th>Start Date</th>
					<th>End Date</th> -->
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studCourse : ${studentCourses}">
						<td th:text="${studCourse.course.courseName}"></td>
						<td th:text="${studCourse.courseStatus}"></td>
						<td th:text="${studCourse.grade}"></td>
						<!-- <td th:text="${course.startDate}"></td>
					<td th:text="${course.endDate}"></td> -->
						<td><a class="btn btn-danger mb-3" th:href="@{/student/deleteEnrollment/}+${studCourse.id}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>

	<div th:replace="fragments/layout.html:: footer"></div>
</body>
</html>